includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - database/factories
        - database/seeders
        - routes
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
